html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    font-family: 'Lato';
    font-size: 3vh;
    line-height: 1.3em;
}

#main {
    width: 80vw;
    height: 90vh;

    /* top right bottom left */
    padding: 5vh 10vw 5vh 10vw;
}

.button {
    margin: 2em;
    text-align: center;
    padding: 1em;
    border: 3px solid;
    border-radius: 1em;
    cursor: pointer;
}

.button:hover {
    text-shadow: 1px 1px 1px #FFFFFF;
}

.puzzle {
    height: 0;
    overflow-x: hidden;
    display: none;
    transition: height 1s ease-in-out, opacity 1s ease-in-out;
}

.puzzle-clue {
    margin: 1em;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

.puzzle-title {
    font-size: 2em;
    margin-bottom: 1em;
}

.puzzle-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.text-small {
    font-size: 0.6em;
    line-height: 0.6em;
}

.text-green {
    color: #298a06;
}

.text-purple {
    color: #b56ed4;
}

.text-red {
    color: #f53131;
}

.text-bog {
    color: #cfb870;
}